<h1>Contact</h1>

<ul>
    <li> 10 Downing Street in London</li>
    <li>1600 Pennsylvania Avenue NW, Washington, D.C.</li>
    <li>Élysée Palace in Paris</li>
    <li>Kremlin</li>
    <li>7, Lok Kalyan Marg</li>
</ul>